html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-color: unset;
}

// scroll style
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #97CBFF;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

// 進度條 style
#nprogress{
  .bar {
    background-color: red !important;
    height: 5px;
  }
  .spinner {
    top: 20px;
    right: 20px;
    .spinner-icon {
      width: 30px;
      height: 30px;
    }
  }
} 

// 抽屜組件 style 
.el-drawer__title {
  font-size: 20px;
  color: #5566FF;
  font-weight: 700;
}

// form 表單table 設定
.el-table th.el-table__cell {
  color: #fff;
  background-color: 	#84C1FF;
}

// image/list 圖庫列表 & 管理員列表
.image-header {
  border-bottom: 3px solid #d4d4d4;
  @apply flex items-center;
}